
.text-end{
    margin-right: 70px;
}

form, input{
    margin-right: 350px;
}


img{
    margin-top: 10px;
    border-radius: 20px;
    margin: 30px 20px;
    
}

.cart{
    position: fixed;
    margin-left: 90%;
}


h5{
    text-align: center;
    color: black;
}

h5:hover{
    background-color: lightgray;
    color: orangered;
    margin: 0px 100px;
    border-radius: 20px;
    padding: 15px;
}
