

<div class="container">
    <div class="row">
        <div class="card col-md-3" *ngFor="let product of productsList">
            <img class="image" src="{{product.product_image}}" alt="" width="90%">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Product</th>
                        <td>{{product.product_name}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 10ch;">{{product.product_desc}}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{product.product_price}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-warning" (click)="addToCart(product)">Add to cart</button>
        </div>
    </div>
</div>